<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<title>reports</title>
</head>
<div ng-include="'html/sideNav.html'"></div>
<div class="container" style="margin-left:220px;">
<div class = "col-sm-4"><h3>Compliance Report</h3></div>
</br>
<div class ="col-sm-12 col-sm-offset-1" >
			<div class="form-group">
				<label class="col-sm-2">Select Template<span class="mandatory">*</span></label>
				<div class="col-sm-2">
					<select class="form-control" id="template" ng-model="template">
						<option ng-repeat = "x in templateList" value = "{{x._id}}">{{x.templateName}}</option>
					</select>
				</div>
					<!-- <label class="col-sm-2">Select DNA Host<span class="mandatory">*</span></label>
					<div class="col-sm-2">
						<select class="form-control" id="template" ng-model="hostId" ng-options = "x for x in hostList">
						</select>
					</div> -->
				<div class="col-sm-1 ">
					<button class="btn btn-primary" data-toggle="tooltip" title="Run" ng-click="run()">Run</button>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-warning" data-toggle="tooltip" title="scheduler" ng-click="Scheduler()" ng-disabled="true">Scheduler</button>
				</div>
	</div>
	</div>
	<div class = "col-lg-11">
		<!-- <div  data-ng-init="init()"></div> -->
  		<div  class = "chart-bg" id="myDiagramDiv" style="border: solid 0px black; width:900px; height:650px"></div>
		</div>	
	</div>		
