<head>
<meta charset="ISO-8859-1">
<title>asset management</title>
</head>
<div ng-include="'sideNav.html'"></div>
<div class="container" style="margin-left:220px;">
			</br>
			</br>
			<div class ="col-sm-10 col-sm-offset-2">
			<div class="form-group">
					<label class="margin-left-medium col-sm-3"">Asset Key<span class="mandatory">*</span></label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="serialNo" ng-model="serialNo">
						</input>
					</div>
					<div class="col-sm-1 ">
					<button class="btn btn-primary" data-toggle="tooltip" title="search for available serial no." ng-click="search()">Search</button>
				</div>
				</div>
				<br></br>
				<div class="form-group">
					<label class="margin-left-medium col-sm-3"">Asset Name<span class="mandatory">*</span></label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="deviceName" ng-model="deviceName">
						</input>
					</div>
				</div>
				<br></br>
				<div class="form-group">
					<label class="margin-left-medium col-sm-3"">Asset Type<span class="mandatory">*</span></label>
					<div class="col-sm-3">
						<input type="text" class="form-control"  id="deviceType" ng-model="deviceType">
						</input>
					</div>
				</div>
				<br></br>
				<div class="form-group">
					<label class="margin-left-medium col-sm-3"">State<span class="mandatory">*</span></label>
					<div class="col-sm-3">
						<select class="form-control" id="state" ng-model="state" ng-options= "x for x in stateList">
						</select>
					</div>
				</div>
				<br></br> 
				<div class="form-group btn-margin-left">
				<div class="col-sm-3 col-sm-offset-2 btn-margin-right">
					<button class="btn btn-primary" data-toggle="tooltip" title="Save" ng-click="save()">Save</button>
				</div>
				<div class="col-sm-3">
					<button class="btn btn-warning" data-toggle="tooltip" title="Reset Details" ng-click="reset()">Reset</button>
				</div>
				</div>
			</div>
		</div>