<!DOCTYPE html>

<head>
	<title>Audit Trail</title>
</head>

<div class="container">
	<div class="col-sm-12">
		<form class="form">
			<div class="form-group">
				<label>Select Asset <span class="mandatory">*</span></label>
				<div class="row">
					<select class="form-control" id="serialNumber" ng-model="serialNumber" ng-disabled="isDisabled">
						<option ng-repeat="x in deviceList" value="{{x.serialNumber}}">{{x.serialNumber}} - ({{x.hostname}})</option>
					</select>
					<button class="btn btn-primary custom-form-btn-margin" data-toggle="tooltip" title="Run" ng-click="run()">Audit</button>
				</div>
			</div>
		</form>
	</div>


	<div class="col-sm-12" style="height: 500px;overflow-y: scroll;" ng-show="auditSummary.length > 0">
		<p></p>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>UpdatedOn</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in auditSummary">
					<td>{{x.updatedOn}}</td>
					<td>{{x.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>