<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Welcome to Aricent Enterprise Asset Management System using DNA-C and Blockchain
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ng-if="userName != ''">
                <a ui-sref="logout">Logout</a>
            </div>
            <div ng-if="userName == ''">
                <a ui-sref="login">Login</a>
            </div>
        </div>
    </div>
</div>